<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Animated Login and Signup form </title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
    <div class="container">
      
      <div class="signup">Sign Up</div>
      <div class="login">Log In</div>
      
       <div class="signup-form">
          <input type="text" placeholder="Your Email Address" class="input"><br />
          <input type="text" placeholder="Choose a Username" class="input"><br />
          <input type="password" placeholder="Choose a Password" class="input"><br />
          <div class="btn">Create account</div>
       </div>
      
      <div class="login-form">
          <input type="text" placeholder="Email or Username" class="input"><br />
          <input type="password" placeholder="Password" class="input"><br />
          <div class="btn">log in</div>
          <span><a href="#">I forgot my username or password.</a></span>
       </div>
      
    </div>
  </div>






<!-- By Coding Market -->
<div class="youtube">
  <a href="https://www.youtube.com/channel/UCtVM2RthR4aC6o7dzySmExA" target="_blank">by coding market</a>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>
