{% extends "home.html" %}


{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  {%block head%}
  <meta charset="UTF-8">
  <title> Sign-Up/Login</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="E:\College-Placement-Portal\placement_portal\static\css\style.css">
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}"/>
  <script  type="text/javascript" src="{% static '/script.js' %}">
  </script>
  {%endblock%}
</head>
<body>
  {%block content%}

    <div class="form">
      
        <ul class="tab-group">
            <li class="tab active"><a href="login">Log In</a></li>
          <li class="tab"><a href="register">Sign Up</a></li>
          
        </ul>
<div id="login">   
    <h1>Welcome Back!</h1>
    
    <form action="/" method="post">
    
      <div class="field-wrap">
      <label>
       <span class="req"></span>
      </label>
      <input type="email" placeholder="Email Address*" required autocomplete="off"/>
    </div>
    
    <div class="field-wrap">
      <label>
       <span class="req"></span>
      </label>
      <input type="password" placeholder="Password*" required autocomplete="off"/>
    </div>
    
    <p class="forgot"><a href="#">Forgot Password?</a></p>
    
    <button class="button button-block">Log In</button>
    
    </form>

  </div>

  </body>

  {%endblock%}

  </html>
